[BASIC]

good-names-rgxs=[_a-z][_a-z0-9]?$

[MESSAGES CONTROL]

disable=
    # --- Convention ---
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,

    consider-using-in,
    consider-using-f-string, # Support python version 3.5


    # --- Warning ---
    attribute-defined-outside-init,

    bare-except, # Prevent all exception in a thread
    broad-except, # Prevent all exception in a thread

    unused-argument, # Function interface

    pointless-string-statement, # Multiline comments

    unspecified-encoding, # open's encoding

    # --- Refactor ---
    too-many-instance-attributes,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-few-public-methods,

    # --- Streamlit ---
    invalid-name,
    non-ascii-file-name,

[FORMAT]

max-line-length=79

[MASTER]

# gen code
ignore=bidderx_e2e_test/protos

[MISCELLANEOUS]

notes=FIXME,XXX,TODO
